# ===== DATABASE =====
data/
*.mv.db
*.trace.db

# ===== MAVEN =====
target/
.mvn/wrapper/maven-wrapper.jar

# ===== IDE =====
.idea/
*.iml
*.ipr
*.iws
.settings/
.project
.classpath

# ===== NODE / ANGULAR =====
language-ui/node_modules/
language-ui/dist/

# ===== BINARIES =====
*.exe

# ===== JWT KEYS =====
private.key
public.key

# ===== VS CODE =====
.vscode/