server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:file:/data/audiodb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

    # optional but recommended (silences warning and avoids lazy DB hits during view rendering)
  jpa:
      open-in-view: false

jwt:
  secret: ${JWT_SECRET}
minio:
  url: http://minio:9000
  access-key: minioadmin
  secret-key: minioadmin
  bucket: language-sound