<section class="card">

  <h2>Change Password</h2>

  <p>
    You must change your temporary password before continuing.
  </p>

  <form (ngSubmit)="changePassword()">
<div *ngIf="!email">
  <label>email</label>
  <input
    type="email"
    [(ngModel)]="newPassword"
    name="newPassword"
    required>

</div>
    <div *ngIf="email">
      <label>Current Password</label>
      <input
        type="password"
        [(ngModel)]="oldPassword"
        name="oldPassword"
        required>
    </div>

    <div>
      <label>New Password</label>
      <input
        type="password"
        [(ngModel)]="newPassword"
        name="newPassword"
        required>
    </div>

    <div>
      <label>Confirm New Password</label>
      <input
        type="password"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        required>
    </div>

    <button type="submit">
      Change Password
    </button>

  </form>

  <p *ngIf="successMessage" class="success">
    {{ successMessage }}
  </p>

  <p *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </p>

</section>
