<!-- practice-word-list.html -->
<div>
  <p>
    Select dialect you want to learn: Dongoawi,Mahassi or Kenzi
  </p>
</div>
<div *ngIf="isUploading" class="spinner-container">
  <div class="spinner"></div>
  <p>uploading words... please wait</p>
</div>
<div class="form-field">
  <label>Dialect</label>

  <select [(ngModel)]="dialect" name="dialect" (change)="onDialectChange()" >
    <option [ngValue]="null ">-- Select Dialect --</option>
    <option *ngFor="let d of dialects" [value]="d">{{ d }}</option>
  </select>

</div>

<div *ngIf="viewMode === 'practice'">

  <app-practice-word-sentence
    [item]="selectedWord"
    [isWordMode]="isWordMode"
    (readyWord)="onReadyWord()"
    [currentIndex]="currentIndex"
    (readySentence)="onReadySentence()"
    (next)="goToNext()"
    (prev)="goToPrevious()"
  ></app-practice-word-sentence>

</div>

<div *ngIf="viewMode === 'assess'">

  <app-assessment
    [item]="selectedWord"
    [isWordMode]="isWordMode"
    (back)="onBackToPractice()"
  ></app-assessment>

</div>
